.thead1{
     background-color: gold;
    text-align:center ;
 }
.row1{
    background-color: cornflowerblue;
}
.tfoot1{
   background-color:darkgreen;
    height: 100px;
    text-align:right ;
}
.table1{
background-color: grey;
    width: 600px;
    height: 300px;
    text-align:center ;
    border-collapse: collapse;
}
.qq
{
    text-align:center;
}
.table2{
    text-align: center;
    border-collapse: collapse;
    border-bottom: 1px solid;
    border-right: 1px solid;
}
.table3{
    text-align: center;
    border-bottom: 1px solid;
    border-right: 1px solid;
    width: 200px;
    height: 100px;
    border-collapse:separate;
}
.table4{
    text-align: center;
    border-bottom: 1px solid;
    border-right: 1px solid;
    width: 400px;
    height: 200px;
    border-collapse:separate;
}